<div class="add-comment">
    <div class="comments-card">
        <div class="card-body">
            <form class="p-2" id="new-comment-form">
                <label for="new-comment-text" class="form-label"></label>
                <textarea class="form-control" rows="2" placeholder="add a new comment here"></textarea>                
            </form>
            <button type="submit" class="btn btn-primary mt-3" id="new-comment-btn"><i class="fas fa-plus"></i>Add comment</button>
        </div>
    </div>
</div>

<script src="../js/add-comment.js"></script>