<div class="comments text-muted mx-3">
    <div class="card comments-card border-secondary p-2">
        <p>{{comment_text}}</p>
    </div>
    <div class="comment-user">
        <p>{{user.username}}, {{format_date created_on}}</p>
    </div>
    {{#if blog_poster}}
    <div class="delete-comment">
        <button type="submit" class="btn btn-primary mb-3" id="delete-comment-btn"><i class="fas fa-trash"></i>Delete comment</button>
    </div>
    {{/if}}
</div>